body {
    background-color: lightgray;
    margin: 0px;
}

.ui-autocomplete-loading {
    background: white url("../img/thinking.gif") right center no-repeat;
}

.header {
    background-color: black;
    padding: 10px;
    font-family: 'Star Wars', sans-serif;
    font-size: larger;
    color: #F2E029;
}

.header-img {
    vertical-align:middle;
    padding: 10px;
}

.ui-widget {
    padding: 5px;
}

.character-area {
    display: none;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 10px;
    vertical-align: top;
    background-color: white;
    box-shadow:3px 3px 5px 0 dimgray;
    width: 30%;
    float: left;
}

.extended-area {
    display: none;
    border-radius: 10px;
    margin: 30px 10px;
    padding: 15px 10px;
    vertical-align: top;
    background-color: white;
    box-shadow:3px 3px 5px 0 dimgray;
    width: 40%;
    float: left;
}

input[type=text]{
    border:2px solid #aaa;
    border-radius:5px;
    margin:3px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    box-shadow:0 0 3px 0 dodgerBlue;
}

th {
    text-align: left;
    padding-right: 15px;
}

.about-header {
    margin: 0px 0px 5px;
}
.about-table {
    margin-left: 15px;
}

.close-button {
    float: right;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px;
    padding: 2px 5px;
    margin-top: -12px;
    margin-right: -5px;
    border-color: gray;
    background-color: white;
    border-width: 3px;
    border-style: solid;
}

.gray-bar {
    background-color: #eee;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}